body {
    background-color: #485167;
    margin: 0px;
    padding: 0px;
}

.grid {
    display: grid;
    grid-template-columns: .25fr 2fr;
    grid-template-rows: auto auto auto auto;
    
}

/* .sideBar {
    background-color: #577284;
    width: 7.5%;
    margin: 0px;
    padding: 0px;
    height: 100%;
} */



ul {
    list-style-type: none;
    text-decoration: none;
    background-color: #BCBCBE;
    position: fixed;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 7.5%
    
}

li a {
    text-decoration: none;
    display: block;
    color:black;
    margin: 0px;
    padding: 0px;
}

.bottomLink {
    position: fixed;
    bottom: 0;
    width: 7.5%;
}

li a:hover {
    background-color: #485167;
}

.mainContent {

}


